<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="utf-8">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>

<body onLoad="document.getElementById('year').focus();">

    <div class="top">
        <div class="title">Year of Marvel</div><br>
        <div class="caption">Enter a year and access upto 100 Marvel comics released in that year. Uses Marvel API.</div>

        <div class="year-entry-area">
            <form action="year-entered">
                <input class="year" id="year" autocomplete="off" name="year" maxlength="4" type="text" placeholder="1947"><br>
            </form>
        </div>
        
    </div>

    <div class="log" id="log"></div>
    <div class="results" id="results" style="display: none;">

        <!-- display all the comics -->
        <div id="comics" name="comics">
            {{#with allComicInfo}}
            {{#each comics}}
                <div class="comicPicture">
                    <a href="{{url}}" target="_blank">
                        <img id="hit" src={{cover}}> 
                        <!--<div id="overlay">
                            <div class="mmdd">{{month}}/{{year}}</div>
                        </div>-->
                    </a>
                </div>

                <a href="{{url}}" target="_blank">
                    <div id="modal">
                        <div class="title">{{title}}</div>
                        <div class="description">{{description}}</div>
                    </div>
                </a>
            {{/each}}
            {{/with}}
        </div>

    </div>

    <script type="text/javascript">

        // Shows results div when a valid year is entered
        function showDiv() {
            document.getElementById('results').style.display = "block";
        }

        $(document).ready(function() {
            var log = document.getElementById('log');

            var search = window.location.search;
            var year = search.slice(6);

            if ((year >= 1947) && (year <= (new Date()).getFullYear())) {
                showDiv();
            }
        });
    </script>
</body>

</html>
