<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="utf-8">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>

<body onLoad="document.getElementById('year').focus();">

    <div id="bufferOverlay"></div>

    <!-- About the author -->
    <div id="mystuff">
        <ul>
            <li><a href="http://anupya.com/" target="_blank">About Me</a></li>
            <li><a href="http://www.github.com/Anupya/year-of-marvel" target="_blank">Fork Me</a></li>
        </ul>
    </div>

    <!-- Header -->
    <div class="top">
        <div class="title">Year of Marvel</div><br>
        <div class="caption">Enter a year and access upto 100 Marvel comics released in that year. Uses Marvel API.</div>

        <div class="year-entry-area">
            <form action="year-entered">
                <input class="year" id="year" autocomplete="off" name="year" maxlength="4" type="text" placeholder="1947"><br>
            </form>
            <div id="errorMsg" style='display: none;'>Please enter a year from 1947-now.</div>
        </div>

        
    </div>

    <!-- Results -->
    <div class="results" id="results" style="display: none;">

        <div id="pages" name="pages">
            
            <ul class="list_pages">
                <form id="form-pages" action='page-changed'>
                {{#with allPageInfo}}  
                <input type="hidden" name="year" value="{{year}}" />  
                    {{#each page}}
                    <button type="submit" name="page" value="{{pageNumber}}">{{pageNumber}}</button>

                    {{/each}}

                {{/with}}
                </form>
            </ul>

        </form>

        <!-- display all the comics -->
        <div id="comics" name="comics">
            {{#with allComicInfo}}
            {{#each comics}}
                <div class="comicPicture">
                    <a href="{{url}}" target="_blank">
                        <img id="hit" src={{cover}}> 
                    </a>
                </div>

                
                <a href="{{url}}" target="_blank">
                    <div id="modal">
                        
                        <div class="title">{{title}}</div>
                        <div class="mmdd">Date: {{month}}/{{date}}</div>
                        <div class="description">{{description}}</div>
                        
                    </div>
                </a>
            
            {{/each}}
            {{/with}}
        </div>

    </div>

    <script type="text/javascript">

        // Shows results div when a valid year is entered
        function showDiv(year) {

            // add year div to results
            document.getElementById('results').innerHTML += 
            "<div id='year-of-results'>" + year + "</div>";

            // show everything
            document.getElementById('results').style.display = "block";
        }

        function showErrorDiv() {

            document.getElementById('errorMsg').style.display = "block";
        }

        $(document).ready(function() {
            var log = document.getElementById('log');

            var search = window.location.search;
            var year = search.substring(6, 10);

            if ((year >= 1947) && (year <= (new Date()).getFullYear())) {
                
                showDiv(year);
                $(document).scrollTo('#results');
            }
            else {
                showErrorDiv();
            }
        });

        $(document).keypress(function(event){
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){

                // this part is not working
                //document.getElementById("bufferOverlay").style.display = none; 
            }

        });

        /*
        $("#hit").mouseover(function() {
            $("#hit").innerHTML("<p style='color: black'>Hello</p>");
        });
        */


    </script>
</body>

</html>

