<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="utf-8">
    <link href="css/styles.css" rel="stylesheet">
    <script src="jquery-3.3.1.min.js"></script>

</head>

<body onLoad="document.getElementById('year').focus();">

    <div class="top">
        <div class="title">Year of Marvel</div><br>
        <div class="caption">Access upto 100 Marvel comics released in a particular year. Uses Marvel API.</div>

        <div class="year-entry-area">
            <form action="year-entered">
                <input class="year" id="year" name="year" maxlength="4" type="text" placeholder="1947"><br>
            </form>
        </div>
        
    </div>

    <div class="results" id="results">

        <!-- display all the comics -->
        <div id="comics" name="comics">
            {{#each comicCovers}}
                <img id="hit" src={{this}}>

            {{/each}}

        </div>

    </div>

    <!--
    <script type="text/javascript">
    $(document).ready(function() {
        $("#year").keypress(function (keyCode) {
            if (keyCode.which == 13) {
                $("#results").toggle();
            }
        });
    });
    </script>
    -->

</body>














<!-- The default Node.js application 
<head>
    <meta charset="utf-8">
    <title>Example app</title>
    <meta name="description" content="" />
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/gradients.css" rel="stylesheet">
</head>

<body class="">
    <div class="wrapper">
        <div class="graphics">
            <div class="tower">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="-11 170 1000 429" enable-background="new -11 170 1000 429" xml:space="preserve">
                    <path class="path" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M989,595H712v-35c0,0,4.5-1.8,8-3


                  -->
</html>
