:root {
    --MarvelRed: #ed1d24;
}

@font-face {
  font-family: "Marvel";
  src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype");
}

/* HEADER ------------------------------------ */

.top .title {
    position: relative;
    top: 50px;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Impact';
    font-weight: 400;
}

.top {
    height: 500px;
    background: var(--MarvelRed);
    border-radius: 20px;
    
}
.top .caption {
    position: relative;
    top: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Helvetica';
}

.year-entry-area .year {
    position: relative;
    background: var(--MarvelRed);
    color: #000;
    top: 80px;
    width: 380px;
    height: 150px;
    font-size: 150px;
    letter-spacing: 10px;
    border: none;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.year-entry-area .btn {
    position:relative;
    top: 40px;
    width: 400px;
    padding: 50px;
}

::placeholder {
    opacity: 0.3;
    color: black;
}

.top, .results {
    position: relative;
    top: 100px;
    width: 1200px;
    margin: auto;
    text-align: center;
}

.year-entry-area {
    position: relative;
    top: 50px;
    font-size: 100px;
    text-align: center;
    display: inline-block;
}

/* RESULTS ------------------------------------ */

.results {
    position: relative;
    top: 200px;
    font-size: 20px;
    font-family: 'Helvetica';
}

input:focus, textarea {
    outline: none !important;
}

#hit {
    position: relative;
    display: inline-block;
    top: 20px;
    padding: 30px;
    width: 193.33px;
    height: 283.33px;
    float: left;
}

#modal {
    position: relative;
    display: inline-block;
    float: left;
    top: 20px;
    padding: 20px;
    width: 193.33px;
    height: 283.33px;
    opacity: 1;
    transition: 0.3s, ease;
    background-color: var(--MarvelRed);
    overflow-y: scroll;
    font-family: 'Helvetica';
}

#modal .title {
    position: relative;
    top: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
}

#modal .description {
    position: relative;
    top: 50px;
    bottom: 100px;
    color: white;
    font-size: 15px;
    text-align: center;
}
